<div class="content container">
    <div>
        <h1 class="titel">Edit assignment:</h1>
    </div>

    <form [formGroup]="editAssignmentForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center">
            <div fxFlex="50%">

                <p>
                    <mat-form-field>
                        <input matInput placeholder="Name" formControlName="name"
                            [(ngModel)]="assignmentModel.name" type="text" name="name" />
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input matInput placeholder="Description" formControlName="description" [(ngModel)]="assignmentModel.description"
                            type="text" name="Description" />
                    </mat-form-field>
                </p>
            </div>
            <div fxFlex="50%">
                <p>
                    <mat-form-field>
                        <input matInput placeholder="Street address" formControlName="streetAdress"
                            [(ngModel)]="assignmentModel.streetAdress" type="text" name="StreetAdress" />
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput placeholder="PostalCode" formControlName="postalCode"
                            [(ngModel)]="assignmentModel.postalCode" type="text" name="PostalCode" />
                    </mat-form-field>
                </p>
            </div>
        </div>


        <div class="row">
            <div *ngFor="let tag of myTags" class="d-flex p-2 flex-column">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{tag.name}}
                        </h5>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-danger btn-sm" (click)="removeTag(tag)">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="h4 mt-5">
            Add existing tags
        </div>
        <hr>
        <div class="row">
            <div *ngFor="let tag of allTagsWithoutMine" class="d-flex p-1 flex-column">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{tag.name}}
                        </h5>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success btn-sm" (click)="addTag(tag)">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <button [disabled]="!editAssignmentForm.valid" mat-raised-button color="primary"
                type="submit">Submit</button>
        </p>
    </form>
</div>