<h3>Ongoing Assignments</h3>
<div class="row">
    <div *ngFor="let a of (assignments | async)" class="col-lg-4 col-md-6 pb-4">
        <div class="card h-100" (click)="bekijkAssignment(a)">
            <div class="card-body">
                <h4 class="card-title">
                    {{a.name}}
                </h4>
                <p class="card-text">{{a.description}}</p>
                <h6 class="card-title"> Tags</h6>
                <hr>
                <p class="card-text">
                    <span *ngFor="let t of a.assignmentTags"
                        class="card-text border border-dark rounded p-1 m-2">{{t.tag.name}}</span>
                </p>


            </div>
        </div>
        <button (click)="complete(a)">Complete</button>
    </div>
</div>