<div *ngIf="assignmentsLength==0">You don't have any ongoing assignments</div>
<div class="row">
    <div *ngFor="let a of (assignments | async)" class="col-lg-4 col-md-6 pb-4">
        <div class="card h-100" >
            <div class="card-body" (click)="bekijkAssignment(a)">
                <h4 class="card-title">
                    {{a.name}}
                </h4>
                <p class="card-text">{{a.description}}</p>
                <h6 class="card-title"> Tags</h6>
                <hr>
                <p class="card-text">
                    <span *ngFor="let t of a.assignmentTags"
                        class="card-text border border-dark rounded p-1 m-2">{{t.tag.name}}</span>
                </p>
            </div>
            <button mat-raised-button color="primary" (click)="complete(a)">Complete</button>
        </div>
        
    </div>
</div>