<mat-sidenav-container class="sidenav-container" autosize>
        <mat-sidenav #drawer class="sidenav" fixedInViewport
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

                <mat-nav-list>
                        <a href="">
                                <img src="../assets/images/logo_transparent.png" alt="MatchIT logo" height="150px">
                        </a>

                        <div *ngIf="login; else inactiveDiv">
                                <a mat-list-item routerLink="/" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }">Home</a>
                                <a mat-list-item routerLink="/login" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }">Login</a>
                                <a mat-list-item routerLink="/register" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }">Register</a>
                        </div>
                        <ng-template #inactiveDiv>
                                <a mat-list-item routerLink="/" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }">Home</a>
                                <a mat-list-item routerLink="/profile" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }">Account</a>
                                <a mat-list-item routerLink="searchAssignment" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }">Assignments</a>
                                <a mat-list-item routerLink="admin" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }">Admin</a>
                                <a mat-list-item routerLinkActive="active" (click)="logOut()"
                                        [routerLinkActiveOptions]="{ exact: true }">Logout</a>
                        </ng-template>
                        <hr>

                </mat-nav-list>
        </mat-sidenav>
        <router-outlet></router-outlet>
</mat-sidenav-container>