.nav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: #fff;
    }

mat-sidenav-container {
    background-color: #C8DAEC;
    height: 100vh;
}