<mat-sidenav-container class="sidenav-container" autosize>
        <mat-sidenav #drawer class="sidenav" fixedInViewport
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

                <mat-nav-list>
                        <a href="">
                                <img src="../assets/images/logo_transparent.png" alt="MatchIT logo" height="150px">
                        </a>
                        <a mat-list-item routerLink="/" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Home</a>
                        <a mat-list-item routerLink="/" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Profile</a>
                        <hr>
                </mat-nav-list>
        </mat-sidenav>
        <router-outlet></router-outlet>
</mat-sidenav-container>