<h2>{{user.email}}'s reviews</h2>
<h3>Sent reviews</h3>
<div *ngIf="sentReviewsLength == 0">{{user.email}} has not sent any reviews yet</div>
<div *ngFor="let review of (sentReviews | async)">
    to {{review.receiver.email}}  <button mat-raised-button color="primary">Edit</button><button mat-raised-button color="warn">Delete</button>
</div>

<h3>Received reviews</h3>
<div *ngIf="receivedReviewsLength == 0">{{user.email}} has not received any reviews yet</div>
<div *ngFor="let review of (receivedReviews | async)">
    from {{review.sender.email}}  <button mat-raised-button color="primary">Edit</button><button mat-raised-button color="warn">Delete</button>
</div>