<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <nav>
                <div class="nav nav-tabs text-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active w-25" id="nav-application-tab" data-toggle="tab"
                        href="#nav-application" role="tab" aria-controls="nav-application"
                        aria-selected="true">Applications ({{applicationLength}})</a>

                    <a class="nav-item nav-link w-25" id="nav-review-tab" data-toggle="tab" href="#nav-review"
                        role="tab" aria-controls="nav-review" aria-selected="false">Reviews ({{reviewLength}})</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-application" role="tabpanel"
            aria-labelledby="nav-application-tab">
            <app-company-application-notifications></app-company-application-notifications>
        </div>

        <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
            <app-company-review-notifications></app-company-review-notifications>
        </div>

    </div>

</div>