<div class="mt-4 d-inline-flex">
    <div class="card" style="width: 28%;">
        <img src="../../../assets/images/logo_transparent.png" alt="profile picture" class="card-img-top">
        <div class="card-body border-top">
            <div class="card-text" *ngIf="isLoaded">
                <div class="font-weight-bold text-center" *hasPermission="['read_maker_profile']">
                    {{user.maker.firstname}} {{user.maker.lastname}}
                </div>

                <div class="font-weight-bold text-center" *hasPermission="['read_company_profile']">
                    {{user.company.name}}
                </div>
                <br>
                <div>
                    <div class="font-weight-bold">
                        Biography
                    </div>
                    {{user.biography}}
                </div>

                <div *hasPermission="['read_maker_profile']">
                    <br>
                    <div class="font-weight-bold ">
                        Experience
                    </div>
                    {{user.maker.experience}}
                </div>
                <br>
                <div>
                    <div class="font-weight-bold ">
                        Contact details
                    </div>
                    <div>
                        <span class="h6">Email:</span> <br>
                        {{user.email}}
                    </div>
                    <br>
                    <div>
                        <span class="h6">Phonenumber:</span> <br>
                        {{user.phonenumber}}
                    </div>
                    <br>
                    <div *hasPermission="['read_maker_profile']">
                        <span class="h6">LinkedIn:</span> <br>
                        <a href="https://{{user.maker.linkedIn}}">{{user.maker.linkedIn}}</a>
                        
                    </div>
                    <div *hasPermission="['read_company_profile']">
                        <span class="h6">Address:</span> <br>
                        {{user.company.postalCode}} <br>
                        {{user.company.streetAdress}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 70%" class="ml-4">
        <app-profile-edit></app-profile-edit>
    </div>
</div>

<!-- {{user | json}} -->