<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <nav>
                <div class="nav nav-tabs text-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active w-25" id="nav-ongoing-tab" data-toggle="tab" href="#nav-ongoing"
                        role="tab" aria-controls="nav-assignments" aria-selected="false">Ongoing</a>

                    <a class="nav-item nav-link w-25" id="nav-completed-tab" data-toggle="tab" href="#nav-completed" role="tab"
                        aria-controls="nav-tags" aria-selected="false">Completed</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-ongoing" role="tabpanel" aria-labelledby="nav-ongoing-tab">
            <app-maker-completed></app-maker-completed>
        </div>

        <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
            <app-maker-ongoing></app-maker-ongoing>
        </div>
    </div>

</div>