<div class="notification"  *ngIf="notificationsLength != 0"> You have new notifications</div>

<div *ngFor="let notification of (notifications | async)" class="padding">
    {{notification.assignment.name}} has been set to complete by the company!
</div>

<div class="notification"  *ngIf="readNotificationsLength == 0"> You have no old notifications</div>
<div class="notification"  *ngIf="readNotificationsLength != 0">Old notifications</div>
<div *ngFor="let notification of (readNotifications | async)" class="padding">
    {{notification.assignment.name}} has been set to complete by the company!
</div>