<!-- matBadge="{{notificationAmount}}" matBadgeSize="large" matBadgeColor="accent"
            matBadgePosition="after" matBadgeOverlap="true" -->
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <nav>
                <div class="nav nav-tabs text-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active w-25" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                        role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
                    <a class="nav-item nav-link w-25" id="nav-not-tab" data-toggle="tab" href="#nav-not" role="tab"
                        aria-controls="nav-not" aria-selected="false" *hasPermission="['not_admin']"
                        matBadge="{{notificationAmount}}" matBadgeSize="large" matBadgeColor="accent"
                        matBadgePosition="after" matBadgeOverlap="true">Notifications</a>
                    <a class="nav-item nav-link w-25" id="nav-assignments-tab" data-toggle="tab" href="#nav-assignments"
                        role="tab" aria-controls="nav-assignments" aria-selected="false"
                        *hasPermission="['not_admin']">Assignments</a>

                    <a class="nav-item nav-link w-25" id="nav-tags-tab" data-toggle="tab" href="#nav-tags" role="tab"
                        aria-controls="nav-tags" aria-selected="false" *hasPermission="['not_admin']">Tags</a>


                    <a class="nav-item nav-link w-25" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews"
                        role="tab" aria-controls="nav-reviews" aria-selected="false"
                        *hasPermission="['not_admin']">Reviews</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <app-profile></app-profile>
        </div>

        <div class="tab-pane fade" id="nav-assignments" role="tabpanel" aria-labelledby="nav-assignments-tab"
            *hasPermission="['not_admin']">
            <app-dashboard></app-dashboard>
        </div>

        <div class="tab-pane fade" id="nav-tags" role="tabpanel" aria-labelledby="nav-tags-tab"
            *hasPermission="['not_admin']">
            <app-tags></app-tags>
        </div>

        <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-tags-reviews"
            *hasPermission="['not_admin']">
            <app-review></app-review>
        </div>
        <div class="tab-pane fade" id="nav-not" role="tabpanel" aria-labelledby="nav-tags-not"
            *hasPermission="['not_admin']">
            <app-notification></app-notification>
        </div>

    </div>
</div>