<div class="content container">
        <h2>Dashboard of {{name}}!</h2>
        <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center">
            <div fxFlex="20%">
                
            </div>
            <div fxFlex="30%"></div>
            <div fxFlex="20%">
                <div>
                    <!-- <button (click)="goToNotification()" matBadge="{{notificationAmount}}" matBadgeSize="large"
                        matBadgeColor="accent" matBadgePosition="after" mat-raised-button matBadgeOverlap="false"
                        class="notbtn">Notifications</button></div> -->
                <!-- <div> <button (click)="goToMessages()" matBadge="{{messageAmount}}" matBadgeSize="large"
                    matBadgeColor="accent" matBadgePosition="after" mat-raised-button matBadgeOverlap="false"
                    class="messagebtn">Messages</button></div> -->
            </div>
            <div fxFlex="30%"></div>
        </div>
    <div *ngIf="makerCheck">
        <app-maker-dashboard></app-maker-dashboard>
    </div>

    <div *ngIf="!makerCheck">   
        <app-company-dashboard></app-company-dashboard>
    </div>
</div>