<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Assignments
      <small>Have a look around!</small>
    </h1>
  
    <div  class="row">
      <div *ngFor="let a of assignments" class="col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
                    {{a.name}}
            </h4>
            <p class="card-text">{{a.description}}</p>
            <div *ngFor="let t of a.assignmentTags">
                <button class="card-text btn btn-info">{{t.tag.name}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>