<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Assignments
        <small>Have a look around!</small>
    </h1>
    <h3>Filter the assignments using the boxes below!</h3>
    <div class="container border  rounded p-2 mb-4 bg-white">
        <div *ngFor="let t of tags" class="form-check form-check-inline col-lg-2 col-sm-3">
            <input class="form-check-input" type="checkbox" id="{{t.tagID}}" value="{{t.name}}"
                (change)="onCheckChange($event)">
            <label class="form-check-label" for="{{t.tagID}}">{{t.name}}</label>
        </div>
    </div>

    <h3>The assignments</h3>
    <hr>
    <div *ngIf="filter.length < 1" class="row">
        <div *ngFor="let a of assignments" class="col-lg-4 col-md-6 pb-4">
            <div class="card h-100" (click)="bekijkAssignment(a)">
                <div class="card-body">
                    <h4 class="card-title">
                        {{a.name}}
                    </h4>
                    <p class="card-text">{{a.description}}</p>
                    <h6 class="card-title"> Tags</h6>
                    <hr>
                    <p class="card-text">
                        <span *ngFor="let t of a.assignmentTags"
                            class="card-text border border-dark rounded p-1 m-2">{{t.tag.name}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="filter.length > 0" class="row">
        <div *ngFor="let a of filterdAssignments" class="col-lg-4 col-md-6 pb-4">
            <div class="card h-100" (click)="bekijkAssignment(a)">
                <div class="card-body">
                    <h4 class="card-title">
                        {{a.name}}
                    </h4>
                    <p class="card-text">{{a.description}}</p>
                    <h6 class="card-title"> Tags</h6>
                    <hr>
                    <p class="card-text">
                        <span *ngFor="let t of a.assignmentTags"
                            class="card-text border border-dark rounded p-1 m-2">{{t.tag.name}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="filterdAssignments.length == 0 && filter.length > 0" class="row">
            <h2>No assignments meet your filter criteria!</h2>
        </div>