@import '~@angular/material/theming'; //imports we need to set our custom style
@include mat-core(); //includes the common styles for Angular Material

$codematch-app-primary: mat-palette($mat-light-blue, A200); //color palette for primary
$codematch-app-accent: mat-palette($mat-orange); //color palette for accent
$codematch-app-warn: mat-palette($mat-red); //color palette for warn

$codematch-app-theme: mat-light-theme($codematch-app-primary, $codematch-app-accent, $codematch-app-warn); //creates the theme object

@include angular-material-theme($codematch-app-theme); //theme object is included in the Angular Material Theme and will now be used throughout the application