
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6">
            <img src="../../assets/images/logo_transparent_no_title.png" alt="logo" height="450px" class="">
        </div>
        <div class="col-lg-6 my-bg-primary ">
            <div class="row h-50">
                <div class="col-lg-6  d-flex justify-content-center my-auto">
                    <div class="card" style="width: 20vh; height: 20vh;">
                        <div class="card-body">
                            <h5 class="card-title">Application Challenge 2019</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 ">

                </div>
            </div>
            <div class="row h-50">
                <div class="col-lg-6 ">
                </div>

                <div class="col-lg-6  d-flex justify-content-center my-auto">
                    <div class="card" style="width: 20vh; height: 20vh;">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Motivated coder?</h5>
                    <p class="card-text">
                        Register yourself as a maker <br>
                        Find a assignment based on tags and apply <br>
                        Connect with your new employer <br>
                        Complete the assignment
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-2">

        </div>

        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Interesting project idea?</h5>
                    <p class="card-text">
                        Register yourself as a Company <br>
                        Post an assignment <br>
                        Wait for a application <br>
                        Connect with the person you are going to work with
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>