<div class="content container">
    <h1>Welcome to CodeMatch!</h1>
    <div>
        <p>Codematch is an application for people with interesting project ideas to meet motivated coders.</p>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Are you a motivated coder?</h2>
            <ul>
                <li>Register yourself as a Maker</li>
                <li>Find an assignment and apply</li>
                <li>Connect with your new employer</li>
                <li>Complete the assignment</li>
            </ul>
        </div>
        <div class="col-sm">
            <h2>Do you have an interesting project idea?</h2>
            <ul>
                <li>Register yourself as a Company</li>
                <li>Post an assignment</li>
                <li>Wait for the perfect makers and accept their applications</li>
                <li>Connect with the makers</li>
                <li>Sit back and relax</li>
            </ul>
        </div>
    </div>
    
</div>